html, body {
  margin: 0;
  padding: 0;
  width: 500px; /* 固定宽度为500px */
  height: 500px; /* 固定高度为500px */
}

body {
  transform-origin: 0 0;
  width: 500px; /* 固定宽度为500px */
  height: 500px; /* 固定高度为500px */
  background-color: rgb(5, 18, 32);
  position: absolute;
  top: 0;
  left: 0;
  background: url(./kick.jpg) top left no-repeat;
  background-size: cover; /* 图片铺满body容器 */
}

.image-container {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  height: 200px;
  overflow: hidden; /* 保证图片不超出容器尺寸 */
  transform: rotate(-30deg); /* 逆时针旋转45度 */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 图片铺满容器，保持比例 */
  border-radius: 50%; /* 将容器变成圆形 */
}
